<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=Pagetitle%></title>
		<meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <base href="\">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/" class="navbar-brand">Home</a> -->
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <% for(var i=0;i<nav.length;i++){%>
        <li>
          <a href="<%= nav[i].link%>"><%= nav[i].Title%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=Pagetitle%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel"  >
        <div class="panel-body"  style="background-image: url('https://barrie360.com/wp-content/uploads/2019/04/Library.jpg');color: aliceblue; height: 600px;">
    
            <div class="col col-12 col-sm-6">
                <div class="d1">
                    <h2>Sign Up here....</h2>
                </div>
                <div class="div2">
                    <form action="\user\reg" method="POST">
                    <table class="table">
                        <tr>
                            <td>
                                <label for="" class="label2">First Name</label>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="fnam" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" class="label2">Role</label>
                            </td>
                            <td>
                                <select name="role"  class="form-control">
                                    <option value="user">user</option>
                                    <option value="Admin">Admin</option>
                                   
                                </select>
                            </td>
                        </tr>
                       
                        <tr>
                                <td>
                                        <label for="" class="label2">Username</label>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" name="unam1">
                                    </td>
            
                        </tr>
                        <tr>
                                <td>
                                        <label for="" class="label2" id="p1">Password</label>
                                    </td>
                                    <td>
                                        <input type="password" class="form-control" name="pass1">
                                    </td>
                        </tr>
                       
                        <tr>
                                <td>
                                        <input type="button " class="btn btn-warning" value="Reset" >
            
                                    </td>
                                    <td>
                                        <input type="submit" class= "btn btn-primary"  value="Sign Up">
                                    </td>
                        </tr>
                        <tr>
                                <td>
                                    <label for=""id="lb3"></label>
                                    <label for=""id="lb4"></label>
                                    <label for=""id="lb5"></label>
                                    <label for=""id="lb6"></label>
                                    <label for=""id="lb7"></label>
                                    <label for=""id="lb8"></label>
                                    <label for="" id="lb9"></label>
                                </td>
                                        </tr>
                    </table>
            
                </form>
                </div>
            
            </div>
                        
                    </div>
                </div>
         
          
          
         
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>



<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>